.pingpong {
  background: linear-gradient(rgb(38, 38, 38), rgb(65, 65, 65));
  height: 6.2rem;
  border-radius: 5px;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  margin-left: 50%;
  width: 16rem;

  .name {
    height: 1.4rem;
    text-align: center;
    margin-top: -0.3rem;
  }
  .param {
    width: 4.5rem;
    .name {
      height: 0.5rem;
      width: 4rem;
      text-align: center;
      transform: translateX(-50%);
      margin-left: 50%;
      margin-top: -0.1rem;
    }
  }
  .sliders-container {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    width: 16rem;
  }
  .slider {
    transform: scale(0.8);
    width: 4.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
