@import url('https://fonts.googleapis.com/css2?family=Michroma:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton:wght@400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  background-size: cover;
  height: 100vh;
  min-width: 1200px;
  background-color: rgb(138, 34, 34);
}

body {
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.synth-name {
  font-family: 'Anton', sans-serif;
  font-size: 9rem;
}

button {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}
