*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior: none;
}

html {
  overflow-y: hidden;
  font-size: 62.5%;
  background-size: cover;
  min-height: 50rem;
  height: 100vh;
  // min-width: 1200px;
  // background-color: rgb(138, 34, 34);
  background-size: cover;
  background: radial-gradient(
      rgba(50, 50, 50, 0.8) 5%,
      rgba(255, 255, 255, 0.9) 75%,
      rgba(255, 255, 255, 0.98) 90%
    ),
    url('./imgs/833.jpg');
  // background: radial-gradient(
  //     rgba(187, 26, 26, 0.954) 5%,
  //     rgba(0, 0, 0, 0.85) 75%
  //   ),
  //   url('./imgs/833.jpg') no-repeat;
  // linear-gradient(135deg, rgba(179, 0, 255, 0.217), rgba(255, 0, 0, 0.447)),
}

body {
  font-family: 'Michroma', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

// .synth-name {
//   font-family: 'Anton', sans-serif;
//   font-size: 9rem;
// }

h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}
