.EQ {
  background: linear-gradient(#262626, #414141);
  border-radius: 5px;
  height: 8.8rem;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);

  .sliders {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .param {
    text-align: center;

    .label {
      transform: scale(0.8) translateY(-0.1rem);
      line-height: 0.4rem;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
  .range-slider {
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.3rem;
  }
  .name {
    // color: rgb(255, 56, 56);
    letter-spacing: 1rem;
    margin-left: 1.1rem;
    transform: translateX(0%) translateY(-0.3rem);
    text-align: center;
  }
}
