.register {
  background: linear-gradient(rgb(38, 38, 38), rgb(65, 65, 65));
  border-radius: 5px;
  height: 20.5rem;
  width: 20rem;
  padding-top: 0.8rem;

  .title {
    font-size: 1.3rem;
    letter-spacing: 0.8rem;
    margin-left: 0.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  input {
    text-align: left;
    // margin-top: 0.3rem;
    width: 90%;
    margin-bottom: 0.4rem;
  }

  .register-btn {
    cursor: pointer;
    padding: 0.1rem 0.8rem;
    background: rgb(227, 227, 227);
    border: none;
    border-radius: 3px;
    display: block;
    margin-top: 0.9rem;
  }
  .signin-btn {
    margin-top: 0.5rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none !important;
    color: black;
    text-decoration: underline;
    padding: 0.1rem 0.2rem;
    width: 100%;
    &:hover {
      //   background-color: rgb(24, 24, 24);
      color: rgb(208, 208, 208);
    }
  }
  .err-msg {
    width: 100%;
    text-align: center;
  }
}
