.pingPong {
  background: linear-gradient(rgb(38, 38, 38), rgb(65, 65, 65));
  height: 6.2rem;
  border-radius: 5px;
  width: 16rem;

  .titleName {
    height: 1.4rem;
    text-align: center;
    font-weight: bold;
  }

  .param {
    width: 4.6rem;
    .name {
      height: 0.5rem;
      width: 4rem;
      text-align: center;
      transform: translateX(-50%);
      margin-left: 50%;
      margin-top: 0.1rem;
      margin-bottom: -0.4rem;
    }
  }

  .timeParam {
    width: 6rem;
  }

  .slidersContainer {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    width: 16rem;
  }

  .slider {
    transform: scale(0.8);
    width: 4.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .timeSelector {
    margin-top: 1.5rem;
    height: 4rem;
    width: 5rem;
  }
}
