.lfo-filter {
  background: #777;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  margin-bottom: 1rem;

  .selectors {
    margin-top: 0.5rem;
  }
  .param {
    margin-bottom: 0.2rem;
  }

  .section-2 {
    margin-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      text-align: center;
    }
  }
}

.mousefield {
  height: 10rem;
  margin: 1rem;
  border-radius: 5px;
  position: relative;
  color: white;
  font-weight: bold;
  background: black;
  width: 2rem;
}
