.bitcrusher {
  background: linear-gradient(rgb(38, 38, 38), rgb(65, 65, 65));
  width: 9rem;
  height: 6.4rem;
  border-radius: 5px;
  margin: 0.5rem 0.25rem;

  .name {
    height: 1.2rem;
    text-align: center;
  }
  .param {
    width: 4.5rem;
    .name {
      height: 0.5rem;
      width: 4rem;
      text-align: center;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }
  .sliders-container {
    display: flex;
  }
  .slider {
    width: 4.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
