.synth {
  .dino-container {
    border-radius: 20px;
    background: black;
    padding: 1rem;
    width: 40rem;
    height: 40rem;
    position: relative;
  }
  .dino-innercontainer {
    transform: translateX(-50%) translateY(-50%);
    margin-top: 50%;
    margin-left: 50%;
    height: 30rem;
    width: 30rem;
  }
  .dino {
    border-radius: 12rem;
    height: 30rem;
    width: 30rem;
    background: black;
  }
}

.keyboard-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 43.4rem;
  overflow-x: hidden;
}
