.dino-container {
  border-radius: 20px;
  //   background: black;
  padding: 1rem;
  width: 100%;
  height: 100%;
  //   position: relative;
  margin-top: 3rem;
}
.dino-innercontainer {
  //   transform: translateX(-50%) translateY(-50%);
  //   margin-top: 50%;
  //   margin-left: 50%;
  //   height: 30rem;
  //   width: 30rem;
}
.dino {
  border-radius: 12rem;
  height: 28rem;
  width: 28rem;
  //   background: black;
}

.dino-page {
  width: 100%;
  height: 100%;
  position: relative;
}
