.dino-container {
  border-radius: 20px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
  .active {
    color: red;
  }
}
.dino-innercontainer {
}
.dino {
  border-radius: 12rem;
  height: 18rem;
  width: 18rem;
}

.dino-page {
  width: 100%;
  height: 100%;
  position: relative;
}
