.filter {
  background: rgb(114, 114, 114);
  border-radius: 5px;
  width: 90%;
  height: 8.4rem;
  position: relative;

  .q-slider {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .type-selector {
    width: 18rem;
  }
  .frequency {
    width: 81%;
  }
  .param {
    margin-bottom: 0.2rem;
  }

  .q-slider {
    margin-top: 0.4rem;
    transform: translateX(-0.4rem);
  }

  .q {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 0.3rem;
    margin-right: -0.8rem;
    transform: scale(1);
  }
  .name {
    letter-spacing: 0.6rem;
    font-weight: 700;
    margin-top: -0.6rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .grid-div1 {
    height: 6.2rem;
    padding-top: 0.2rem;
    grid-area: 1 / 1 / 3 / 4;
  }
  .grid-div2 {
    height: 6.2rem;
    grid-area: 1 / 4 / 3 / 5;
  }
  .grid-div3 {
    grid-area: 3 / 1 / 4 / 5;
  }
}
