.keyboard-area {
  display: flex;

  .btns-container {
    position: absolute;
    margin-top: 59.5rem;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .down-btn,
  .up-btn {
    color: rgb(213, 213, 213);
    background: linear-gradient(90deg, rgb(62, 62, 62), rgb(123, 123, 123));
    padding: 0.8rem 2rem;
    border-radius: 5px;
    transition: all 0.2s ease;
    opacity: 0.3;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    &:hover {
      opacity: 1;

      color: white;
    }
  }
  .down-btn {
    // left: 10rem;
    clip-path: polygon(
      40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%
    );
  }
  .up-btn {
    // right: 10rem;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
  }
  .spacing {
    width: 20rem;
  }
  .arrow-spacing {
    width: 10rem;
  }
}

.keyboard-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 48rem;
  overflow-x: hidden;
  margin-top: 63rem;
  position: absolute;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
}

.keyboard {
  width: 79.9rem;
  position: absolute;
}
