.keyboard-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 79.8rem;
  overflow-x: hidden;
  margin-top: 28rem;
  //   height: 9rem;
}
.keyboard {
  width: 79.9rem;
  position: absolute;
  //   transform: translateX(-1rem);
}
