.keyboard-area {
  display: flex;

  .btns-container {
    padding: 0.4rem;
    position: absolute;
    margin-top: 76rem;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.4s ease;
    width: 10rem;
    &:hover {
      opacity: 1;
    }
  }
  .down-btn,
  .up-btn {
    color: rgb(213, 213, 213);
    background: linear-gradient(90deg, rgb(62, 62, 62), rgb(123, 123, 123));
    padding: 0.8rem 2rem;
    border-radius: 5px;
    transition: all 0.2s ease;
    opacity: 0.3;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    &:hover {
      opacity: 1;

      color: white;
    }
  }
  .down-btn {
    clip-path: polygon(
      0 30%,
      30% 30%,
      70% 30%,
      100% 30%,
      100% 70%,
      70% 70%,
      30% 70%,
      0 70%
    );
  }
  .up-btn {
    clip-path: polygon(
      0 30%,
      30% 30%,
      30% 0,
      70% 0,
      70% 30%,
      100% 30%,
      100% 70%,
      70% 70%,
      70% 100%,
      30% 100%,
      30% 70%,
      0 70%
    );
  }
  .spacing {
    width: 4rem;
  }
  .arrow-spacing {
    width: 4rem;
  }
}

.keyboard-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 48rem;
  overflow: hidden;
  margin-top: 63rem;
  position: absolute;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
}

.keyboard {
  width: 79.9rem;
  position: absolute;
}
